.nicescroll-rails {
    z-index: 9999999 !important;
}

/*------------------------------------------------------------------
    [Header]
------------------------------------------------------------------*/

/* Fixed Top */

.navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

/* Navbar */

.header .navbar {
    color: #ccc !important;
    background-color: #fff;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}

/* Navbar Toggle */

.header .navbar-toggle {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    margin: 35px 0;
}

.header .navbar-toggle .toggle-icon {
    position: relative;
    width: 21px;
    height: 1px;
    display: inline-block;
    background: #515769;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:before,
.header .navbar-toggle .toggle-icon:after {
    position: absolute;
    left: 0;
    background: #515769;
    content: " ";
}

.header .navbar-toggle .toggle-icon:before {
    width: 10px;
    height: 1px;
    bottom: 10px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle .toggle-icon:after {
    width: 16px;
    height: 1px;
    top: -5px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon {
    background: #17bed2;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon:before,
.header .navbar-toggle:hover .toggle-icon:after {
    width: 21px;
    height: 1px;
    background: #17bed2;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .navbar-toggle:hover .toggle-icon.is-clicked {
    background: rgba(81, 87, 105, 0);
}

/* Navbar Logo */

.header .logo {
    width: 100px;
    height: 100px;
    float: left;
    max-height: 120px;
    line-height: 65px;
}

.header .logo-wrap {
    display: inline-block;
    padding: 15px 0;
}

.header .logo-wrap:focus,
.header .logo-wrap:hover {
    text-decoration: none;
}

.header .logo-img {
    display: inline-block;
    width: 150px;
    height: auto;
    max-width: 170%;
    max-height: 100%;
    vertical-align: middle;
}

.header .logo-img-main {
    display: inline-block;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .logo-img-active {
    display: none;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Navbar */

.header .navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Nav */

.header .nav-item {
    position: relative;
    display: block;
}

.header .nav-item:hover {
    color: #f00
}

.header .nav-item:last-child .nav-item-child {
    padding-right: ;
}

.header .nav-item .nav-item-hover.active:after {
    opacity: 1;
    color: #f00;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item:hover .nav-item-hover:after {

    opacity: 1;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-child {

    position: relative;
    display: block;
    font-size: 13px;
    font-weight: 600;
    font-family: Hind, sans-serif;
    line-height: 55px;
    padding: 20px;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.header .nav-item-hover {
    position: relative;
    color: #004950;
    border-bottom: 5px solid #fff;
    transition: all .4s ease-in;
    font-size: 15px
}

.header .nav-item-hover li a {
    text-decoration: none
}

.header .nav-item-hover:hover {
    position: relative;
    text-decoration: none;
    border-bottom: 5px solid #fca905
}

.header .nav-item-hover:after {
    position: absolute;
    top: 45px;
    left: 0;
    width: 9px;
    height: 2px;
    opacity: 0;
    content: " ";
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Media Queries below 991px */

@media (max-width: 991px) {
    /* Bootstrap collapse of navigation with a maximum width: 991px
    (Change it to any breakpoint you want to be collapsed) */
    .header {
        background: #fff;
    }
    .header .navbar-toggle {
        display: block;
    }
    .header .navbar-collapse.collapse {
        display: none !important;
    }
    .header .navbar-collapse.collapse.in {
        display: block !important;
    }
    .header .nav-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    .header .navbar-nav {
        margin: 0;
        float: none;
    }
    .header .navbar-nav .nav-item {
        float: none;
    }
    /* Menu Container */
    .header .menu-container:before,
    .header .menu-container:after {
        content: " ";
        display: table;
    }
    .header .menu-container:after {
        clear: both;
    }
    /* Logo */
    .header .logo .logo-img-main {
        display: none;
    }
    .header .logo .logo-img-active {
        display: inline-block;
    }
    /* Navbar Nav */
    .header .nav-item-child {
        color: #515769;
        line-height: 1.4;
        padding: 12px 12px 12px 15px;
        text-align: right;
        font-size: 15px;

    }

    .header .nav-item-hover:after {
        position: absolute;
        top: 19px;
    }
    .header .nav-item-hover {
        position: relative;
        color: #004950;
        border-bottom: 0px solid #fff
    }

    .header .nav-item-hover:hover {
        position: relative;
        text-decoration: none;
        padding-right: 10px;
        border-bottom: 0;
    }
}

/* Media Queries below 767px */

@media (max-width: 767px) {
    /* Menu Container */
    .header .menu-container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .header .navbar > .container {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .header .navbar > .container > .nav-collapse {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .header .nav-item-hover {
        position: relative;
        color: #016b71;
        border-bottom: 0px solid #fff
    }

    .header .nav-item-hover:hover {
        position: relative;
        text-decoration: none;
        border-bottom: 0px solid #f00
    }
    .register {
        margin-top: ;
    }
}

/* Media Queries above 992px */

@media (min-width: 992px) {
    /* Navbar */
    .header .navbar-nav-right {
        float: right;
    }
    .register {
        margin-top: px;
    }
}

@media (max-width: 992px) {

    .register {
        margin-top: 220px;
    }
}

/* Page On Scroll */

@media (min-width: 992px) {
    .page-on-scroll .header .navbar {
        background: #fff;
        border-bottom-color: #f0f0f0;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
    .page-on-scroll .header .logo-img-main {
        display: none;
        transition-duration: 400ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
    .page-on-scroll .header .logo-img-active {
        display: inline-block;
        transition-duration: 400ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
    .page-on-scroll .header .nav-item-child {
        color: #515769;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    }
    .register {
        margin-top: 300px;
        margin-right: 50px
    }
}

/*------------------------------------------------------------------
    [Full Screen Carousel]
------------------------------------------------------------------*/

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/*------------------------------------------------------------------
    [Carousel]
------------------------------------------------------------------*/

.carousel-indicators {
    left: auto;
    width: auto;
    padding-left: 0;
    margin-left: 0;
}

.carousel-centered {
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.carousel-title {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .carousel-title {
        font-size: 60px;
    }
    .register {
        margin-top: ;
    }
}

.carousel-inner .form-reg {
    width: 350px;
    padding: 35px;
    background-color: #ccc;
    border-radius: 10px
}

.carousel-inner .form-reg input {
    margin-bottom: 7px
}

/*here*/

.register {
    margin-top: ;
}

.link-s {
    font-size: 17px
}

/*------------------------------------------------------------------
    [Footer]
------------------------------------------------------------------*/

.footer {
    color: #fff;
    background-color: #004950;
    padding: 40px
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer input[type=text],
textarea {
    margin-bottom: 10px;
    height: 45px;
    background: #003a3f;
    border: none;
    color: #fff;



}

.fa-phone,
.fa-envelope {
    color: #409290
}

.footer textarea {
    height: 150px;
    resize: none;
    background: #003a3f;
    border: none;
    color: #fff
}

.footer .btn {
    background: #c78708;
    height: 40px;
    border: none;
    outline: 0;
    transition: all .4s;
    font-size: 18px;
    border-radius: 25px
}


.footer .btn:focus {
    outline: 0
}

.footer .btn:hover {
    background: #b07604
}

.social {
    background: #003a3f;
    min-height: 70px;
}

.footer-icons {
    padding-top: 20px
}

.footer-icons .fa-facebook-square,
.fa-twitter-square,
.fa-instagram,
.fa-youtube-square {

    color: #02616b;
    padding-right: 10px;
    transition: all .5s ease-in-out
}

.footer-icons .fa:hover {
    color: #01515c
}






@media (max-width: 991px) {
    footer .info {
        text-align: center;
    }

    .infoo-contact {
        padding-bottom: 23px
    }
}



/*------------------------------------------------------------------
    [Get App]
------------------------------------------------------------------*/

.getApp {
    color: #184848;
    padding: 40px;
}

.getApp h1 {
    font-weight: bold
}

/*------------------------------------------------------------------
    [About Us]
------------------------------------------------------------------*/

.about {
    color: #fff;
    background-color: #004950;
    padding: 50px
}

.about h2 {
    font-size: 40px
}

.sections-ab .child-img {
    width: 150%;

}

.about .child-img {
    width: 100%;
    margin-top: 15%
}

.sections-ab .child-img {
    max-width: 700px;
    overflow: hidden:!important;
    padding-top: 40px
}

.about .about-r {
    margin-bottom: 20px;
    padding: 10px;

}

/*fix image size*/

@media(max-width:992px) {
    .sections-ab .child-img {
        max-width: 100%;

    }
}

.about-r p {
    padding-left: %;
    font-size: 18px
}

.about .color-1 {
    border-right: 5px solid #fca905
}

.about .color-2 {
    border-right: 5px solid #85c5cf
}

.about .color-3 {
    border-right: 5px solid #bd33a3
}

.about .color-1,
.color-2,
.color-3 {
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.26)
}


/*------------------------------------------------------------------

------------------------------------------------------------------*/

.sections-ab {
    color: #fff;
    background-color: #f0f2f1;
    padding: 40px
}

.box-1 {
    background: #fede55;
    width: 280px;
    height: 200px;
    border-radius: 7px;
    padding: 39px;
    border-right: 5px solid #446d6f;
}

.box-1 span {
    font-weight: bolder;
    font-size: 15px;
    height: 200px;
    width: 200px;
    background: #fff;
    padding: 17px;
    border-radius: 50%;
}

.box-1 h5 {
    font-size: 33px
}


.box-2 {
    margin-top: -100px;
    background: #ff875b;
    width: 280px;
    height: 200px;
    padding: 39px;
}

.box-2 span {
    color: #000;
    font-weight: bolder;
    font-size: 15px;
    height: 200px;
    width: 200px;
    background: #fff;
    padding: 17px;
    border-radius: 50%;
}

.box-2 h5 {
    font-size: 27px
}

.box-3 {
    margin-top: 70px;
    background: #87c97f;
    width: 280px;
    height: 200px;

    padding: 39px;
}

.box-3 span {
    color: #000;
    font-weight: bolder;
    font-size: 15px;
    height: 200px;
    width: 200px;
    background: #fff;
    padding: 17px;
    border-radius: 50%;
}

.box-2,
.box-3 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(244, 89, 89, 0.24);
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}

.box-2:hover,
.box-3:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box-3 h5 {
    font-size: 33px
}

.box-txt {
    color: #000;
    width: 280px;
    height: 200px;
    border-radius: 10px;
    padding-top: 35px;
    margin-bottom: 70px;
    text-align: right;

}

.box-shad-1 {
    box-shadow: 0 0 15px 0px rgb(250, 134, 91), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: 20px
}

.box-shad-4 {
    box-shadow: 0 0 20px 0px rgb(135, 201, 127), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: 20px
}

.box-shad-5 {
    box-shadow: 0 0 20px 0px rgb(135, 201, 127), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.box-txt h3 {
    padding-right: 10px;
    color: #3f3f3f;
    font-weight: bold
}

.box-txt p {
    font-size: 15px;
    padding-right: 10px;
    color: #222
}

.box-txt-b {

    color: #000;
    width: 280px;

    padding-left: 11px;
    margin-bottom: 70px
}

.box-txt-b h3 {
    padding-top: 15px;
    font-weight: bold
}

.box-txt-b p {
    padding-bottom: 10px
}

.about-img-1 {
    border-radius: 2%;
    width: 80%;
    padding-top: 80px
}

.border-r-l {
    border-right: 7px solid #84c4d0;
    box-shadow: 0px 2px 15px 0px rgba(6, 99, 250, 0.32);
    margin-top: 90px;
    text-align: right;
    padding-right: 10px
}

.border-r-r {
    border-right: 7px solid #faab06;
    box-shadow: 0px 2px 15px 0px rgba(250, 171, 6, 0.32);
    margin-top: 200px;
    text-align: right;
    padding-right: 10px
}

.border-r {
    border-right: 7px solid #014a51;
    box-shadow: 0px 2px 15px 0px rgba(1, 74, 81, 0.32);
    margin-top: 130px;
    text-align: right;
    padding-right: 10px
}

@media(max-width:991px) {
    .about .child-img {
        margin: 0
    }
    .about-img-1 {
        padding-top: 0px
    }
    .border-r-l {
        margin-top: 40px
    }
    .border-r-r {
        margin-top: -10px
    }
    .border-r {
        margin-top: -30px
    }
    .sections-ab .child-img {
        padding-top: 0
    }

}



/* -------------------------------------------------------

childrens
-------------------------------------*/

.clidrens {
    margin-top: 120px;
}

.clidrens .child-data {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 20px 0px rgba(0, 73, 80, 0.31), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.clidrens .child-data img {
    height: 150px;
    width: 150px
}

.clidrens .child-data h3 {
    color: #004950;
    font-weight: bold;

}

/* -------------------------------------------------------

messages
-------------------------------------*/

.message {

    color: #fff;
    font-weight: 800;
    background: url('../img/pic2.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    width: 100%;
    overflow: hidden!important
}

.message-dataa {
    background-image: linear-gradient(to top, rgba(49, 58, 58, 0.6) 0%, rgba(2, 83, 66, 0.8) 100%);
    min-height: 600px;
    bottom: 0
}

.about-read {

    margin-top: 40px;
    color: #fff;
    font-size: 15px
}



.about-ops-info {
    margin-top: 200px;
}

.about-ops-info h3 {
    color: #ddd;
    font-size: 30px;
    font-weight: bold;
    width: 80%;
}

.about-ops-info p {
    width: 80%
}

.about-ops {}



.about-ops-1,
.about-ops-2,
.about-ops-3 {
    position: absolute;
    display: block;
    top: 2em;

    width: 60%;

    font-size: 2em;

    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    overflow: hidden
}

.about-ops-1 {
    animation-name: anim-1;
}

.about-ops-2 {
    animation-name: anim-2;
}

.about-ops-3 {
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%,
    8.3% {
        left: -100%;
        opacity: 0;
    }
    8.3%,
    25% {
        left: 25%;
        opacity: 1;
    }
    33.33%,
    100% {
        left: 110%;
        opacity: 0;
    }
}

@keyframes anim-2 {
    0%,
    33.33% {
        left: -100%;
        opacity: 0;
    }
    41.63%,
    58.29% {
        left: 25%;
        opacity: 1;
    }
    66.66%,
    100% {
        left: 110%;
        opacity: 0;
    }
}

@keyframes anim-3 {
    0%,
    66.66% {
        left: -100%;
        opacity: 0;
    }
    74.96%,
    91.62% {
        left: 25%;
        opacity: 1;
    }
    100% {
        left: 110%;
        opacity: 0;
    }
}

.about-read hr {
    margin-top: 9px;
    width: 7%;
    border: 2px solid #fcaa06;

}

@media(max-width:992px) {
    .about-ops-info p {
        width: 90%;
        font-size: 20px
    }
    .about-read hr {
        width: 10%
    }

}

/*-------------------------------------
---------------------------------------*/

.add-child {
    padding: 35px;
    font-size: 18px;

}

.add-child button {
    font-size: 15px;
    border: 0;
    width: 30%;
    height: 50px;
    background: #004950;
    transition: all .4s;
    ;
    border-radius: 25px
}

.add-child button:hover {
    background: #01626b
}

.child-data h3 a:hover {
    text-decoration: none;

}

@media(max-width:992px) {
    .clidrens .child-data {
        margin: 20px auto;
        width: 60%;
    }
}

/*------------------------------------
-----------------------------------*/

.contact-form {
    background: #fff;
    width: 100%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 50px
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.blur-img {
    width: 100%;
    min-height: 100vh;
    background-image: url('../background.png');
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0
}
